@{
    ViewBag.Title = "Oakland Inconvenience Tracker";
}


<div class="row">
    <div id="map" align="center" style="width:1250px;height:850px;margin-top:25px"></div>

    <script>
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(40.441548, -79.956469),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDeD15Z4envmo17tRmHPSMNgZo70BiJuo&callback=myMap"></script>
</div>