@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<p>The Oakland Inconvenience Tracker will aid users in maintaining awareness of unexpected issues in the Oakland area and how said issues may affect transit or access to campus facilities. It will provide users a way to view inconveniences (irregular facility shut-downs, construction, etc.) that may hinder their commute across campus or otherwise alter their normal event schedule. The catalog of inconveniences will be user-base sourced, as users will have the ability to add new inconveniences which they encounter as well as details about their nature. As such, the Oakland Inconvenience Tracker will allow for better overall navigation of the area by users in Oakland and help to prevent minor issues from expanding due to unaware Oakland populace.</p>

