@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>

<address>
    University Of Pittsburgh<br />
</address>

<address>
    <strong>Brandon Donahue:</strong>   <a href="mailto:BAD68@pitt.edu.com">BAD68@pitt.edu</a><br />
</address>