@{
    ViewBag.Title = "Oakland Inconvenience Tracker";
}


<div class="row">
    <div id="map" align="center" style="width:1250px;height:850px;margin-top:25px"></div>

    <script>
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(40.441548, -79.956469),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            addListing("test,40.441548,-79.956469,Construction Pothole,Sidewalk is closed.", map);
        }

        function addListing(listing, map) {
            var str = listing.split(",");
            var myLatLng = { lat: parseFloat(str[1]), lng: parseFloat(str[2]) };

            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h1 id="firstHeading" class="firstHeading">' + str[0] + '</h1>' +
                '<div id="bodyContent">' +
                '<p>' + str[3] + '</p>' +
                '<p>' + str[4] + '</p>' +
                '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                draggable: false,
                title: str[0],
                tags: str[3],
                details: [4]
            });

            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDeD15Z4envmo17tRmHPSMNgZo70BiJuo&callback=myMap"></script>
</div>