@{
    ViewBag.Title = "Oakland Inconvenience Tracker";
}
<asp:ScriptManager EnablePageMethods="true" ID="scriptMgr" runat="server"></asp:ScriptManager>

<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<div class="row" runat="server">
    <div id="map" align="center" style="width:1250px;height:850px;margin-top:25px"></div>
    <script src="/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script>
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(40.441548, -79.956469),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }

            function voteFunc(upOrDown, listID){
                if(upOrDown == 1){
                    $.ajax({
                        type: "POST",
                        dataType: {}
                        url: "@Url.Action("Upvote","Listing")",
                        cache: false,
                        data: {'listID': listID, 'voteType': upOrDown}
                        success: function (msg) {
                            alert("Success");
                        }
                    });
                }
                else{
                    $.ajax({
                        type: "POST",
                        dataType: {}
                        url: "@Url.Action("Upvote","Listing")",
                        cache: false,
                        data: {'listID': listID, 'voteType': upOrDown}
                        success: function (msg) {
                            alert("Success");
                        }
                    });
                }
            }

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            addListing("Test~40.441541~-79.956429~Testing Manually~1~10~0~Admin", map);
            addListing("Test~40.443541~-79.959429~Testing Manually~1~10~0~Admin", map);

            $.ajax({
                type: "post",
                url: "@Url.Action("GrabListings","Listing")",
                data: "{}",
                dataType: "text",
                success: function (result) {
                    var allListings = result.split("|");
                    for (var i = 0; i < allListings.length; i++) {
                        addListing(allListings[i], map);
                    }
                },
                failure: function (result) {
                    alert('Error loading listing data');
                }
            });
            function onSuccess(result) {
                alert('Success!');
                var arrayLength = result.length;
                for (var i = 0; i < arrayLength; i++) {
                    addListing(result[i], map);
                }
            });


        }

        function addListing(listing, map) {
                var str = listing.split("~");
                var myLatLng = { lat: parseFloat(str[1]), lng: parseFloat(str[2]) };
                
                var contentString = '<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<h1 id="firstHeading" class="firstHeading">' + str[0] + '</h1>' +
                    '<div id="bodyContent">' +
                    '<p>' + str[3] + '</p>' +
                    '<p>' + str[7] + '</p>' +
                    '</div>';


                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    draggable: false,
                    title: str[0],
                    tags: str[7],
                    details: [3]
            });

            console.log(myLatLng);
            console.log(map);
            console.log(str[0]);
            console.log(str[7]);
            console.log(str[3]);

                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });

            
        }
    </script>
    <script>
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(40.441548, -79.956469),
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDeD15Z4envmo17tRmHPSMNgZo70BiJuo&callback=myMap"></script>
</div>

